<nav class="navbar">


  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"> </i></a>
      </div>

    </div>

  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">José da Silva</li>
    <li class="navbar-menuitem"><a href="#">Produtos</a></li>
    <li class="navbar-menuitem"><a href="#">Test</a></li>
    <li class="navbar-menuitem"><a href="#">Login</a></li>
  </ul>
</nav>
