<div class="container">
    <div class="ui-g">

      <form autocomplete="off" (ngSubmit)="pesquisar()">

        <div class="ui-g-12">
          <h1>Produtos</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao"
          [(ngModel)]="descricao">
        </div>

        <div class="ui-g-12">
          <button pButton type="button" label="Pesquisar" ></button>
        </div>
      </form>

      <div class="ui-g">
          <div class="ui-g-12">
          <p-table [value]="produtos" [paginator]="true" [rows]="2"
              [responsive]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Descricao</th>
                      <th class="col-valor-header">Valor</th>
                      <th class="col-data-header">Quantidade</th>
                      <th class="col-valor-header">Categoria</th>
                      <th class="col-valor-header">Comprar</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-produto>
                  <tr>
                      <td>{{produto.descricao}}</td>
                      <td class="col-valor-content">{{produto.valor}}</td>
                      <td class="col-data-content">{{produto.quantidadeEstoque}}</td>
                      <td class="col-valor-content">{{produto.categoriaDescricao}}</td>
                      <td class="col-acoes">
                          <a  pButton icon="pi pi-shopping-cart"
                          [routerLink]="['/produtos', produto.id]"
                          ></a>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
      </div>

      <div class="ui-g-12">
          <a pButton label="Novo Produto" routerLink="/produtos/novo"></a>
        </div>
    </div>
  </div>
